.bg-cream{
  background-color: rgb(242 242 242);
}
.btn-color{
  background-color: #a3a4a8;
  transition: all .15s;
}
.btn-color:hover{
  background-color: #5c5c5f;
  color: white;
}
.tag-color{
  background-color: #a7a5a5;
}
.hover-text-shadow:hover{
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.underline-custom{
  text-decoration: underline;
  text-underline-offset: 7px;
}
.form-color{
  background-color: #F2F5FF;
}